.primary-color-b {

    background-color: #6610f2;
}

.crm-content {
    max-width: 400px;
    background-color: white;
}

.crm-container {

    padding: 20px;
    background-color: lightgray;
}

.crm-footer {
    position: absolute;
    bottom: 0;

}
.crm-footer-text {
    text-align: right;
}

.crm-element-background {
    border: none;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.crm-center-text {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
}
